name: Mac-VNC-Simple

on: workflow_dispatch

jobs:
  mac:
    runs-on: macos-latest
    steps:
      - name: Enable Screen Sharing
        run: |
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -allowAccessFor -allUsers -privs -all
          
      - name: Install tmate (SSH Access)
        uses: mxschmitt/action-tmate@v3
      
      - name: Keep alive
        run: sleep 6h
